videoplayback.mp4
Python Power Up Automação de Tarefas  Jornada Python \[Aula 1] - Hashtag Programação (720p, h264).mp4
Python Power Up_ Automação de Tarefas Jornada Python \[Aula 1].mp4
Apostila Jornada Python - Aula 1.pdf
